* Donation Process Page /Information page*/
/* #donation_process{
  background-image: url(../images/Man.png);
 
  background-size:cover;
  background-blend-mode:overlay; */
  /* width:95%;
  height:100%;
  object-fit: cover; */
/* } */

#backbtn_info{
    cursor:pointer;
    height: 30px;
    width: 30px;
    margin-right: -380px;
    margin-left: -381px;
}
.info{
  /* border: var(--border); */
  padding:30px 20px 50px ;
  margin:auto 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: large;
  text-align: left;
  font-family:"Baloo Bhai 2";
}

#container li,h4,ul{ 
  padding-bottom:10px;
}
/* Donation Process Page /Information page*/