/* BLOOD Availability Page */
#blood_availability_container{
  height: fit-content;
  padding: 6vh;
}
#blood_availability_bg{
  width: auto;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#blood_availability_sub_container{
   display: flex;
    height: fit-content;
    gap: 15vh;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.blood_availability_cells{
    border-radius: 10vh;
    box-shadow: var(--shadow);
    background-color: rgb(218, 72, 72);
    padding:6vh;
    font-size: 2vw;
    color: white;
}
/* BLOOD Availability Page */